<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>homer</string>
		<key>imageName</key>
		<string>homer.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bart</string>
		<key>imageName</key>
		<string>bart.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lisa</string>
		<key>imageName</key>
		<string>lisa.png</string>
	</dict>
</array>
</plist>
